<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        
        <title>Tela de cadastro</title>
    </head>

    <body>

        <!--Formulario de cadastro-->

        <form method="POST" action="">
            <h3>Escolha seu produto</h3>

            <label for="valor">Valor do produto</label>
            <input type="number" name="valor"><br><br>

            <label for="frete">Valor do frete</label>
            <input type="number" name="frete"><br><br>

            <label for="Parcelado"></label>
            <input type="radio" name="parcelado" value="parcelas">Parcelado (juros de 20%)</input><br><br>

            <label for="pg_a_vista"></label>
            <input type="radio" name="parcelado" value="pg_a_vista">Pagemento a vista</input><br><br>

            <input type='submit' value='Comprar'><br><br>

        </form><br><br>

    </body>
</html>
